body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f5f7fa;
  color: #333;
}

header {
  background-color: #1f2937;
  color: white;
  padding: 40px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  border-radius: 6px;
}

h2 {
  color: #1f2937;
}

ul {
  padding-left: 20px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style-type: square;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #e5e7eb;
  margin-top: 40px;
}
.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
  display: block;
  border: 3px solid #333;
}

